<html>
  <head>
    <title>Kennel Compare</title>
    <link rel="stylesheet" href="/stylesheets/blueprint/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/stylesheets/blueprint/blueprint/print.css" type="text/css" media="print" />
    <!--[if IE]>
      <link rel="stylesheet" href="/stylesheets/blueprint/blueprint/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" />
  </head>
  <body>
    <h4>Kennel Compare</h4>
    <h5>for comparing kennels</h5>
    <div>
      <% if logged_in? %>
        <div>
          You are logged in as <%= current_user_name %>.
          <%= link_to 'Not you?', new_session_path %>
        </div>
        <div>
          <%= link_to 'Log Out', session_path, :method => :delete %>
        </div>
        <div>
          <%= link_to 'My Account', :controller => session[:user_type], :action => :edit, :id => session[:user_id]%>
        </div>
      <% else %>
        <div>
          <%= link_to "Sign Up", choose_account_type_path %>
        </div>
        <div>
          <%= link_to "Log In", new_session_path %>
        </div>
      <% end %>
    </div>
  <% if flash[:error]%>
    <div class ="error">
      <%= flash[:error] %>
    </div>
  <% end %>
  <% if flash[:warning]%>
    <div class ="warning">
      <%= flash[:warning] %>
    </div>
  <% end %>
  <% if flash[:notice]%>
    <div class ="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
    <div>
      <%= yield %>
    </div>
  </body>
</html>